
Backup.zip
*.zip
Backup/Assets/materials/Maps/Doom assets/Background_map/Doom Eternal Nekravol Titan and Tower Wallpaper \[1440p\].mp4
Backup/Assets/materials/Maps/Doom assets/Background_map/Doom Eternal Nekravol Titan and Tower Wallpaper \[1440p\].mp4.meta
Backup/Library/ArtifactDB
Backup/Library/PackageCache/com.unity.burst@1.8.17/.Runtime/libburst-llvm-16.dylib
